/* AboutPhronesisHoldings.css */

.Management-phronesis-holdings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This will vertically center the items if you have enough height */
    text-align: center; 
    position: relative;
    background-image: url('./images/mngt.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Ensures text is white for better contrast */
    height: 60vh;
 
  }
  
  /* Creating a transparent black overlay */
  .Management-phronesis-holdings::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    background-color: #00101dd8;   
        z-index: 0;
  }
  
  /* Ensure content is positioned above the overlay */
  .Management-phronesis-holdings > *, .Management-phronesis-holdings .content-container {
    position: relative;
    z-index: 1;
  }
  
  .Management-phronesis-title {
    font-size: 2.7rem; /* Example size, adjust as needed */
    color: #FFD700; /* Gold color, adjust as needed */
  }
  
  .Management-phronesis-text {
    font-size: 1.4rem;
    margin-top: 20px;
    width: 80%;
    color: #FFFFFF;
    text-align: center; /* Center-align the text horizontally */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Example height to ensure vertical centering in the viewport */
  }
  
  .glass-button {
    padding: 10px 20px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 174, 255, 0.7), rgba(0, 98, 255, 0.7));
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .glass-button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, rgba(255, 251, 0, 0.8), rgba(0, 225, 255, 0.8));
  }

  .content45container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5%;
    height:100vh;
}

.crypto-section-container1 {
  position: relative;
  width: calc(49% - 19px); /* Adjusted width to accommodate padding */
  background-color: #00101d;
  padding: 40px;
  margin-bottom: 20px;

  border-radius: 15px; /* Adjusted border radius */
  box-sizing: border-box; /* Ensures padding is included in width calculation */
  box-shadow: 0 4px 8px rgba(22, 13, 121, 0.51); /* Added box shadow */
}

.crypto-subtitle1 {
    color: rgb(241, 235, 163);
    margin-top: 0;
    margin-left: 0;
    text-align: center; /* Centering the subtitle */
}

.crypto-text1 {
    color: white;
}

.crypto-icon {

  left: 0%;
  width: 10%;
  height: auto;

  color: white;
}

.iconimage {
  width: 10%;
  height: auto;
  margin-left: 0;
}

.crypto-line {
  position: absolute;
  bottom: 0;
  border-radius: 25px; /* Adjusted border radius */

  right: 2%;
  width: 96%;
  justify-content: center;
  align-items: center;
  height: 1.5px;
  background-color: rgba(0, 0, 255, 0.63);
}

.learn-more-button1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 0;
  transition: background-color 0.3s ease;
  outline: none;

}

.learn-more-button1:hover {
    background-color: white;
    color: black;
}
